@font-face {
  font-family: "Acme";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/acme-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/acme-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/archivo-v7-latin-regular.woff2") format("woff2"),
    url("../fonts/archivo-v7-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/archivo-v7-latin-500.woff2") format("woff2"),
    url("../fonts/archivo-v7-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/archivo-v7-latin-700.woff2") format("woff2"),
    url("../fonts/archivo-v7-latin-700.woff") format("woff");
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Archivo", "Arial", sans-serif;
  height: 100%;
  line-height: 1.5;
  color: #333;
  background-color: #e1e2e1;
}

.container {
  max-width: 1290px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PAGE-HEADER */
.page-header {
  background-color: #26418f;
  padding: 12px 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 0 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.links__link:hover {
  background-color: #182f74;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}

.links__link:active {
  opacity: 0.6;
}

.links__link:focus {
  outline: none;
  background-color: #182f74;
  box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}

.main {
  flex-grow: 1;
  padding-top: 40px;
}

.loops__heading {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-family: "Acme", "Archivo", sans-serif;
}

.loops__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
  justify-content: center;
}

.loops__item {
  max-width: 300px;
  overflow: hidden;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
}

.loops__item:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7);
}

.loop__link {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 250px;
  height: 150px;
  background-image: url("../img/loop_img/loop1_step1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.loop__link:hover .loop__link--hover {
  opacity: 1;
}

.loop__link--hover {
  opacity: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  color: #fff;  
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Arial", "Roboto", sans-serif;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease;
}

.loop__name {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-family: "Acme", "Archivo", sans-serif;
}

.youtube-link {
  width: 140px;
  display: inline-flex;
  margin-left: 55px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
}

.youtube-link:hover {
  text-decoration: underline;
}

/* PAGE-FOOTER */
.page-footer {
  background-color: #5c6bc0;
  padding: 10px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create-by {
  margin: 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-style: italic;
  transition: 0.3s ease;
}

.footer__link:hover {
  text-decoration: underline;
  opacity: 0.8;
}
@media only screen and (max-width:450px) {

  .links__link {
    margin: 0 10px;
    width: 45px;
    height: 45px;
  }

  .links__img {
    object-fit: contain;
    width: 25px;
    height: 25px;
  }

  .loops__heading {
    font-size: 40px;
  }
}